.days-title {
    position: absolute;
    left:25%;
    width: 50%;
    color: #dd8500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.days-main {
    position: absolute;
    left: 30%;
    top: 120px;
    width: 620px;
    height: 320px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    box-sizing: initial;
    font-family: Menlo;
    background-color: #fff;
}

.days-list {
    position: absolute;
    left: 15%;
    top: 500px;
    width: 900px;
}

.days-candidate {
    width: 200px;
    height: 200px;
    margin: 0 20px;
    float: left;
}

.days-candidate-content {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    box-sizing: initial;
    font-family: Menlo;
    transition: all 0.5s ease;
}

.days-candidate-border {
    opacity: 0.3;
    border: 1px solid #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 30 ")";
    filter: alpha(opacity=30);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px 10px;
    cursor: pointer;
}

.days-candidate-border:hover {
    opacity: 0.7;
}
.days-bottom {
    height: 2px;
    background: #dd8500;
}

.panel-bottom {
    position: absolute;
    left: 15%;
    width: 70%;
    top: 480px;
}

.custom-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: table;
    text-align: center;
    width: 100%;
    pointer-events: none;
    color: #fff;
}

.candidate-title {
    opacity: 0.0;
    transition: all 0.5s ease;
}

.days-image {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 21px;
}
